body{
    font-weight: 300;
    margin:0px;
}
.navbar {
    margin:0;
    border-radius: 0;
    background-color:white;
}
.navbar p {
    color:white;
    text-align: center;
    vertical-align: center;
    font-size:17px;
    margin-bottom: 0px;
}
.navbar ul{
    list-style-type: none;
}
.navbar li{
   float: left;
   padding-right: 10px;
   font-size:15px;
}

.navbar a:focus,.navbar a:hover, .navbar a{
    color:white;
}
.box{
    float: left;
}
.top-line .box{
    width:30%;
}
.top-line img{
    width:200px;
}
.top-line{
    padding-top:29px;
    padding-bottom:10px;
}
.top-line .left{
    margin-left:45px;
}
.top-line .center{
   margin-top:-12px;
   margin-left:7px;
}
.top-line .right{
    text-align: right;
    margin-left: 17px;
}
.language-line{
    width:100%;
    text-align: center;
    padding-top:10px;
    padding-left:30px;
}
.language-line a{
    padding-right: 13px;
}
.menu-line{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    width:100%;
    text-align: center;
}
.menu-line a{
    font-size:18px;
    padding: 5px 50px 5px 50px;
}
.menu-line a:not(:last-child){
    border-right:1.3px solid white;
}
.reserve-line{
    width:100%;
    font-size:16px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:18px;
}
.reserve-line .box p{
    margin-left:10px;
    margin-right:10px;
}

.reserve-line p{
    font-size:18px;
}

.datepicker{
    width:125px;
}

input{
    border-radius:5px;
    border:0;
    height: 27px;
}   
S
.reserve-line input.button{
    width:125px;
    margin-left:20px;
    margin-right:20px;
    color:black;
    background: white;
}

input:focus{
  border: 1px solid transparent;
  border-radius: 5px;
}