body{
    font-weight: 300;
    margin:0px;
}

.navbar {
    margin:0;
    border-radius: 0;
    background-color:white;
}

.navbar p {
    color:white;
    text-align: center;
    vertical-align: center;
    font-size:17px;
    margin-bottom: 0px;
}

.navbar ul{
    list-style-type: none;
}

.navbar li{
   float: left;
   padding-right: 10px;
   font-size:15px;
}

.navbar a:focus, .navbar a:hover, .navbar a{
    color:white;
}

.box{
    float: left;
}

.top-line .box{
    width:30%;
}

.top-line img{
    width:200px;
}

.top-line{
    padding-top:29px;
    padding-bottom:10px;
}

.top-line .left{
    margin-left:45px;
}

.top-line .center{
   margin-top:-12px;
   margin-left:7px;
}

.top-line .right{
    text-align: right;
    margin-left: 17px;
}

.language-line{
    width:100%;
    text-align: center;
    padding-top:10px;
    padding-left:30px;
    font-size:14px;
}

.language-line a{
    padding-right: 13px;
}

.menu-line{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    width:100%;
    text-align: center;
    font-size:18px;
}

.menu-line a{
    padding:5px 50px;
}

.menu-line a:first-child{
   padding-right: 50px;
   padding-left: 40px;
}
.menu-line a:not(:last-child){
    border-right:1.3px solid white;
}

.reserve-line{
    width:100%;
    font-size:16px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:18px;
}

.reserve-line .box p{
    margin-left:10px;
    margin-right:10px;
}

.reserve-line p{
    font-size:18px;
}

.datepicker{
    width:125px;
    text-align:center;
    font-weight: 500;
}

div.react-datepicker{
    font-size:14px;
}

div.react-datepicker__current-month{
    font-size:17px;
    color:White;
    background: #232323;
    opacity: 0.93;
    height: 28px;
    padding-top:2.5px;
}

div.react-datepicker__header{
    border-bottom: none;
}

div.react-datepicker__month-container{
    float:none;
    border:1px solid black;
    padding-bottom:5px;
}

div.react-datepicker__day-names{
    width:250px;
    background: white;
    padding-top:5px;
    padding-bottom:5px;
}

div.react-datepicker__day-name{
    padding-right:28px;
    font-weight: 700;
    opacity:0.89;
}

div.react-datepicker__day {
    border : 1px solid rgb(199, 199, 199);
    background: rgb(247, 247, 247);
    padding-left:6px;
    padding-top:3px;
    padding-bottom:3px;
    width:30px;
}

div.react-datepicker__day:hover{
    background: rgb(211, 211, 211);
}


div.react-datepicker__day--selected{
    color:black;
}

button.react-datepicker__navigation.react-datepicker__navigation--next{
    border-left-color: #868686;
}

button.react-datepicker__navigation.react-datepicker__navigation--previous{
    border-right-color: #868686;
}

div.react-datepicker__header{
    padding:0;
}

div.react-datepicker__day--today, div.react-datepicker__day--selected{
    background:#1d5d90;
    color:white;
}

input{
    border-radius:2px;
    border:0;
    height: 27px;
}   

a.booking-btn{
    padding-left:15px;
    padding-right:15px;
    margin-left:20px;
    margin-right:20px;
    color:black;
    background: white;
    border-radius: 2px;
}

a.booking-btn:hover, a.booking-btn:active, a.booking-btn:focus{
    color:black;
}

.drop {
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 16px 16px 2px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:25px;
    margin-top:4px;
    border-radius: 3px;
    opacity: 0.9;
}

.drop-content a:not(:last-child){
    border-bottom:1px solid black;
}

.navbar .drop-content a {
    color:black;
    padding: 12px;
    display: block;
    font-size:16px;
    margin-left:10px;
    margin-right: 10px;
}

.drop-content a:hover {
    color:black;
}

.drop:hover .drop-content {
    display: block;
}

.drop .glyphicon{
    font-size:8px;
    padding-left:5px;
    top:-3px;
}

.numeric {
    width:65px;
}

.fa-users {
    color:white;
    margin-left:15px;
    margin-right: 10px;
}


