.offers{
    padding-bottom:100px;
}

.offers>.title{
    width:100%;
    text-align: center;
    background-image: url('/img/heading-line.png');
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    padding:0;
    margin-top:-25px;
}

.offers>.title p{
    font-size:38px;
    border-bottom: 1px solid #aaa;
    margin-top: 20px;
    padding-bottom:20px;
 }

 .offer-card{
    padding-left:55px;
    padding-right:55px;
    padding-top:25px;
 }

.offer-form{
    box-shadow: 0 2px 4px rgba(0,0,0,.5); 
    border-radius: 5px;
    min-height:190px;
    margin-top:40px;
}
.offer-form>.title{
    font-size:23px;
    padding-top:5px;
    padding-left:25px;
    font-weight: 600;
}

.offer-form>.date{
    font-size:16px;
    font-weight: 600;
    padding-top:13px;
    padding-right: 8px;
    float: right;
}

.offer-form>.description{
    font-size:16px;
}
