.contacts-title{
    width:100%;
    text-align: center;
    font-weight: 300;
    background-image: url('/img/heading-line.png');
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    padding:0;
    margin-top:-25px;
}

.contacts-title p{
    font-size:38px;
    border-bottom: 1px solid #aaa;
    margin-top: 20px;
    padding-bottom:20px;
}

.contacts-title hr{
   border-top:1px solid #232323;
}

.contacts-description p{
    font-size:17px;
}
a.number{
    color:#b39146;
}
a.number:hover{
    cursor: pointer;
    color:#b39146;
}

.contacts-description .center{
    padding-left:40px;
}

.contacts-description .right{
    padding-left:55px;
}
.map{
    padding-top:25px;
    padding-bottom: 515px;
}